@use 'veriables';
@use 'colors' as *;

body {
    position: relative;
    font-family: 'Source Serif Pro', serif;
    background-color: #1c1c21;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
    transition: .5s color;
}


button {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: $light-green;
    color: #fff;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;

        &:hover .bar{
            transform: translateY(0) scale(1.8);
        }
}

.bar{
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: $main-color;
    transform: translateY(120%);
    z-index: -1;
    transition: transform .3s ;
}

.one{
    left: 0;
    transition-delay: .3s;
}

.two{
    left: 20%;
    transition-delay: .1s;
}

.three{
    left: 40%;
    transition-delay: .2s;
}

.four{
    left: 60%;
}

.five{
    left: 80%;
    transition-delay: .3s;
}


input {
    position: relative;
    width: 100%;
    max-width: 330px;
    height: 30px;
    font-size: 20px;
    transition: .5s all;
    outline: none;
    
}


input:hover,input:focus{
    animation: shadow 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

li {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    width: auto;

}

label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#alert,#alert-other {
    color: crimson;
}

.box {
    width: auto;
    height: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    border-bottom: 1px solid $main-color;
    text-align: center;
}

.--1 {
    min-height: 150px;
    justify-content: center;

    h1{
        color: $main-color;
    }
}

.--2 {
    min-height: 400px;
    justify-content: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    height: 100%;
    margin-bottom: 20px;

    h1{
        font-size: 26px;
    }

    a:hover{
        color: $light-green;
    }
}

.icons{
    font-size: 26px;
}

.icons i{
    margin-left: 10px;
    transition: color,scale 1s;

    &:hover{
        color: $light-green;
        scale: 1.5;
    }
}

@keyframes shadow {
    0% {
      box-shadow: 0 0 0 0 $light-green;
    }
    100% {
      box-shadow: 0 0 10px 0px $light-green;
    }
  }

.arrows{
    display: none;
}

.arrow-container{
    position: fixed;
    bottom: 50px;
    right: 10px;
}

.arrow-container-down{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.wheel{
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid $main-color;
    transition: .5s background-color;

    &:hover{
        background-color: rgb(6, 92, 6);
    }
}

.arrow{
    position: absolute;
    left: 8.5px;
    border: solid $light-green;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    animation: arrow 1.5s infinite both;
}

.up{
    top: 11px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down{
    bottom: 11px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@keyframes arrow {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
  
  /* =========================== container =========================== */

.container {
    width: 96%;
    margin: 0 auto;
}

@media (max-width: 405px){
    h1{
        font-size: 26px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }

    .arrows{
        display: block;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 960px;
    }
}